@model ACWebsite.Models.returnStats

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_ACWebsiteTemplate.cshtml";
}

<h2>View</h2>

<div>
    <h4>returnStats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.open)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.open)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.high)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.high)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.low)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.low)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volume_30day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volume_30day)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
